* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.icon-bio li {
  margin-right: 5%;
}

.icon-bio li a {
  flex: none;
  flex-grow: 10;
}

.icon-about li {
  margin-right: 6%;
}

.icon-about li a {
  flex: none;
  flex-grow: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #396df2;
  color: white;
}

.Logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  background-color: #11256f12;
}

.toogle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toogle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.overlay {
  background-color: #6070ff;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0.95;
  backdrop-filter: blur(10px);
}

.fixed-screen {
  overflow: hidden;
}

.closeMenu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
}

.icon-bio {
  width: 100%;
  height: 3%;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding-left: 0%;
  animation: moveupdown 2s ease-in-out infinite;
}

@keyframes moveupdown {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(-20%);
    opacity: 0.5;
  }
}

.icon-about {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding-left: 0%;
}

section {
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
}

.hero {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

.Perso {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  margin-bottom: 10px;
  letter-spacing: 0.37px;
  padding: 200px;
  color: #091e42;
}

.bio {
  display: grid;
  height: 100%;
  font-weight: 400px;
  line-height: 24px;
  font-size: 16px;
  color: #344563;
  margin: 0;
  text-align: left;
}

.connect {
  width: 117;
  height: 24px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #7f8cff;
  text-align: left;
  font-weight: 500;
  line-height: 24px;
}

button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid var(--clr-purple);
  border-radius: 8px;
  color: var(--clr-purple);
  background-color: transparent;
  letter-spacing: 0.03rem;
  font-size: 17px;
}

.title {
  font-style: normol;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid rgb(240, 236, 236);
  border-radius: 10px;
  z-index: 10;
  background-color: #ffffffb1;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 200ms ease-in-out;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(31, 22, 22);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-btn {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: none;
  outline: none;
}

.modal-body {
  padding: 15px;
}

#Headline-Title {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  font-style: normal;
}

#Headline-Text {
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-style: normal;
}

.connect-about {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #7f8cff;
  order: 0;
  margin: 0;
}

.box {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  gap: 45px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.box:nth-child(even) {
  flex-direction: row-reverse;
}

.w-full {
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.client {
  height: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  color: #344563;
}

.tech {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  line-height: 17px;
  font-style: normal;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #7a869a;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: inline-block;
}

.year {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 16px;
  font-style: normal;
  text-decoration: none;
  color: #7a869a;
}

.details {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #344563;
}

.stack {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  padding: 0;
  width: 203px;
  height: 25px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 0.03em;
  padding: 5px 12px;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.style:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
  background-color: #6070ff;
  color: white;
}

.preview {
  padding: 7px;
  gap: 8px;
  left: 0;
  border: 1px solid #6070ff;
  border-radius: 9px;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  order: 1.5;
  color: #396df2;
  margin-top: 15px;
  width: 150px;
}

.preview:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  background-color: #6070ff;
  color: #fff;
}

.preview:active {
  background-color: #2230d2;
  color: #fff;
}

.About-container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 800px;
  margin: auto;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 80px;
  margin-top: 15px;
}

.about {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 12px;
  flex: none;
  order: 0;
  flex-grow: 2;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
  text-align: justify;
  padding: 0.1rem;
}

.title-about {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
  padding: 1rem;
}

.skills {
  padding: 0;
  display: grid;
  width: 327px;
  height: 464.15px;
  flex: none;
  margin: auto;
  order: 1;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 327px;
  height: 72px;
  margin-left: 24px;
}

.language-title {
  display: flex;
  width: 200px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-style: normal;
}

.lang-names {
  padding: 10px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.arrow {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 5px;
  margin-right: 10px;
}

.down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.skills-parent {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0;
  height: 72px;
}

.language-icon {
  width: 48px;
  height: 48px;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #582544;
  padding: 24px 24px 24px 5px;
  margin: 10;
}

.separator {
  border-bottom: 2px solid #dfe1e6;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background: url(img/contact-form-imga.png) #6070ff top right;
  background-size: 50% 120%;
  background-repeat: no-repeat;
  border-top-left-radius: 80px;
}

.contact-container {
  height: 100vh;
  text-align: center;
  color: white;
  padding: 50px 24px 0 24px;
}

input,
textarea {
  width: 90%;
  height: 50px;
  margin: 15px auto;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  font-size: 12pt;
  outline: none;
}

input[type="submit"] {
  width: 50%;
}

textarea {
  height: 200px;
}

/* Media querry */

@media screen and (max-width: 769px) {
  .section-hero {
    height: 90vh;
  }

  .hero {
    max-width: 100%;
    padding: 24px;
  }

  .Perso {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700px;
    line-height: 52px;
    letter-spacing: 0.37px;
    color: #091e42;
    padding: 0;
    width: 100%;
  }

  .box,
  .box:nth-child(even) {
    flex-direction: column;
    align-items: center;
  }

  .toogle-button {
    display: flex;
  }

  .overlay.active {
    display: flex;
  }

  .overlay li {
    flex-direction: row;
    align-items: start;
    list-style: none;
  }

  .skills {
    width: 100%;
    height: 500px;
    flex: none;
    order: 1;
    margin: auto;
  }

  .overlay li a {
    text-decoration: none;
    color: rgb(245, 242, 242);
    padding: 1rem;
    display: flex;
  }

  .overlay ul li {
    margin-bottom: 2px;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  .overlay ul {
    padding: 80px 20px 0 20px;
    width: 100%;
    list-style-type: none;
    color: white;
  }

  .overlay li a:hover {
    text-overflow: #f8f3f3;
    color: #e78727;
  }

  .closeMenu.active {
    display: flex;
  }

  .navbar-links ul {
    display: none;
  }

  .navbar-links li .navbar-links li a .navbar-links.active {
    display: none;
  }
}