
body {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0;
}

.icon li {
  margin-right: 5%;
}

.icon li a {
  flex: none;
  flex-grow: 0;
}

header {
  height: auto;
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.Logo {
  width: fit-content;
  font-style: normal;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  margin: 10px 12px;
  text-decoration: none;
}

.Navbar {
  width: 18px;
  height: 12px;
}

.icon {
  width: 100%;
  height: 3%;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding-left: 0%;
}

.menu {
  margin: 6px 16px;
  text-align: center;
}

section {
  background: url(img/header-shapes\ mobile@2x.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 0 20px;
}

.perso {
  width: 327;
  height: 150;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 10px;
  letter-spacing: 0.37px;
  padding-top: 100px;
  color: #091e42;
}

.pro {
  width: 327;
  height: 146;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #344563;
  margin-bottom: 15px;
  text-align: left;
}

.connect {
  width: 117;
  height: 24px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #7f8cff;
  text-align: left;
  font-weight: 500;
  line-height: 24px;
}

